.flex {
    display: flex;
}

.page-body {
    width: 1120px;
}

.page-header-container {
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    background-color: blueviolet;
}

.page-header-content {
    width: 100%;
    justify-content: space-between;
}

.workspace-table-head {
    flex-direction: row;
    width: 100%;
}

.workspace-checkbox {
    width: 5%;
    justify-content: center;
}

.workspace-dashboard-name{
    width: 30%;
}

.workspace-creation-date {
    width: 15%;
}

.workspace-property-name {
    width: 20%;
}

.workspace-open-button {
    width: 30%;
}